@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #D947CB;
}

/* customize tailwindcss */

@theme {
    --font-sans: 'Montserrat Variable', sans-serif;
    --font-weight: 600;
}

@utility btn {
    @apply rounded-xl;
}

@utility container {
    padding-inline: 1rem;
    margin-inline: auto;
}

body {
    font-weight: 500;
}

/*
MAIN NAV
 */
.headroom--top {
    @apply
    glass;

    .menu-light {
        @apply
        text-base-100;

        a {
            @apply
            hover:bg-base-content/25;
        }
    }
}

.headroom--not-top {
    @apply
    top-4
    bg-base-100
    shadow-2xl;

    img {
        @apply
        invert;
    }
}
