@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #D947CB;
}

/* customize tailwindcss */
@theme {
    --font-sans: 'Montserrat Variable', sans-serif;
}

@utility btn {
    @apply rounded-xl;
}

@utility container {
    @apply
    px-6;
    margin-inline: auto;
}



@layer components {

    /*
    TYPOGRAPHY
     */
    body {
        @apply
        font-medium;
    }

    p {
        hyphens: auto;
        @apply
        font-extralight;

        &:not(:last-child) {
            @apply
            mb-4;
        }
    }

    h2, h3, h4, h5, h6 {
        @apply
        mb-4
        lg:mb-6;
    }

    h2 {
        @apply
        text-2xl
        lg:text-4xl
    }

    h3 {
        @apply
        text-2xl
        lg:text-3xl
    }

    ul:not(.menu) {
        list-style: disc outside;
        padding-left: 0;
        margin-left: 16px;

        li {
            @apply
            font-extralight;

            &:not(:last-child) {
                @apply
                mb-4;
            }
        }
    }
}

/*
MAIN NAV
 */
.headroom--top {
    @apply
    glass;

    .navbar-start {
        .btn-outline {
            @apply
            border-base-100;

            &:active {
                @apply
                bg-base-content/25;
            }

            svg {
                @apply
                invert;
            }
        }
    }

    .menu-light {
        @apply
        text-base-100;

        a {
            @apply
            hover:bg-base-content/25;
        }
    }
}

.headroom--not-top {
    @apply
    top-2
    lg:top-4
    bg-base-100
    shadow-2xl;

    img {
        @apply
        invert;
    }
}

section {
    scroll-margin-top: 60px;
}