---
import '@fontsource-variable/montserrat';
import Footer from "../components/Footer.astro";
import DefaultHero from "../components/DefaultHero.astro";
import {SITE_DESCRIPTION, SITE_TITLE} from "../consts.ts";
import BaseHead from "../components/BaseHead.astro";
const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
---

<html lang="de-CH">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

<body>
    <head>
        <BaseHead title={title} description={description} />
    </head>
    <main>
        <DefaultHero title={title} description={description} />
        <slot />
    </main>
    <Footer />
</body>
</html>
